img{
    height: 100px;
}

#container {
    display: flex;
}

#table{
    display: flex;
    justify-content: center;
    border: solid black 1px;
}

table{
    justify-content: center;
    align-items: center;
}
 #before{
     padding: 10px;
 }

 #after{
     padding: 10px;
 }

 .price{
     padding: 0 15px;
 }

 tr#firstRow {
     background-color: gray;
 }

#bottomPage {
    display: flex;
    margin: 0;
    background-color: gray;
    justify-content: space-around;
}

#footer{
    margin: 1% 20%;
}

h4{
    margin: 0;
}

textarea{
    height: 50px;
    width: 200px;
}